<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>download hash</title>
  <link rel="stylesheet" href="styles.css">
  <link href="bootstrap.css" rel="stylesheet" type="text/css">
</head>
<body>
<div  class="title">
    <h5 align="center">APLICACIÓ DE LA BLOCKCHAIN A LES CRIPTOMONEDES</h5>
    <h3 align="center">Andrea Bellmunt Fuentes</h3>
</div>
<div>
  <hr>
  <hr>
  <hr>
  <table class="table" width="100%">
    <tr>
      <td>
        <form action="/inici" method="GET">
          <button>inici</button>
        </form>
      </td>
      <td>
        <p class="text-primary">actualització</p>
      </td>
      <td>
        <p class="text-primary">informació</p>
      </td>
      <td>
        <form action="/usuari" method="GET">
          <button>usuari</button>
        </form>
      </td>
      <td>
        <p class="text-primary">modificació de l'usuari</p>
      </td>
      <td>
        <form action="/tasques" method="GET">
          <button>tasca</button>
        </form>
      </td>
      <td>
        <p class="text-primary">creació de la tasca</p>
      </td>
      <td>
         <p class="text-primary">modificació de la tasca</p>
      </td>
      <td>
        <p class="text-primary">eliminació de la tasca</p>
      </td>
      <td>
         <form action="/blockchain" method="GET">
          <button>blockchain</button>
        </form>
      </td>
      <td>
        <form action="/logout" method="POST">
          <button>sortir</button>
         </form>
      </td>
    </tr>
  </table>
</div>

  <div >

      <p>Només podràs continuar amb la transacció si et descarregues el teu Hash privat, que t'arribarà per mail:</p>
      
    <form action="/descarrega" method="POST">
      <button align="center">Descarregar</button> 
    </form>
  </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="bootstrap.js" type="text/javascript"></script>
</body>
</html>