<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>informació</title>
  <link rel="stylesheet" href="styles.css">
  <link href="bootstrap.css" rel="stylesheet" type="text/css">
</head>
<body>
<div  class="title">
    <h5 align="center">APLICACIÓ DE LA BLOCKCHAIN A LES CRIPTOMONEDES</h5>
    <h3 align="center">Andrea Bellmunt Fuentes</h3>
</div>
<div class="menu">
  <hr>
  <hr>
  <hr>
  <table class="table" width="100%">
    <br>
      <tr>
       <form action="/inici" method="GET">
           <button class="btn btn-outline-light">inici</button>
        </form>

      </tr>
      <tr>
        <p class="text-white">actualització</p>
      </tr>
      <tr>
        <p class="text-white">informació</p>
      </tr>
      <tr>
        <form action="/usuari" method="GET">
          <button class="btn btn-outline-light">usuari</button>
        </form>
      </tr>
      <tr>
        <p class="text-white">modificació de l'usuari</p>
      </tr>
      <tr>
        <form action="/tasques" method="GET">
          <button class="btn btn-outline-light">tasca</button>
        </form>
      </tr>
      <tr>
        <p class="text-white">creació de la tasca</p>
      </tr>
      <tr>
         <p class="text-white">modificació de la tasca</p>
      </tr>
      <tr>
        <p class="text-white">eliminació de la tasca</p>
      </tr>
      <tr>
         <form action="/blockchain" method="GET">
          <button class="btn btn-outline-light">blockchain</button>
        </form>
      </tr>
      <br>
      <br>
      <tr>
        <form action="/logout" method="POST">
          <button class="btn btn-outline-light">sortir</button>
         </form>
      </tr>
  </table>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="bootstrap.js" type="text/javascript"></script>
</body>
</html>