<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>informació</title>
  <link rel="stylesheet" href="styles.css">
  <link href="bootstrap.css" rel="stylesheet" type="text/css">
</head>
<body class="cadenaBlocs">
<div  class="title">
    <h5 align="center">APLICACIÓ DE LA BLOCKCHAIN A LES CRIPTOMONEDES</h5>
    <h3 align="center">Andrea Bellmunt Fuentes</h3>
</div>
<div class="menuci">
  <hr>
  <hr>
  <hr>
  <table class="table" width="100%">
    <br>
      <tr>
       <form action="/inici" method="GET">
           <button class="btn btn-outline-light">inici</button>
        </form>

      </tr>
      <tr>
        <p>actualització</p>
      </tr>
      <tr>
        <p>informació</p>
      </tr>
      <tr>
        <form action="/usuari" method="GET">
          <button class="btn btn-outline-light">usuari</button>
        </form>
      </tr>
      <tr>
        <p>modificació de l'usuari</p>
      </tr>
      <tr>
        <form action="/tasques" method="GET">
          <button class="btn btn-outline-light">tasca</button>
        </form>
      </tr>
      <tr>
        <p>creació de la tasca</p>
      </tr>
      <tr>
         <p>modificació de la tasca</p>
      </tr>
      <tr>
        <p>eliminació de la tasca</p>
      </tr>
      <tr>
         <form action="/blockchain" method="GET">
          <button class="btn btn-outline-light">blockchain</button>
        </form>
      </tr>
      <tr>
        <p>la teva activitat</p>
      </tr>
      <br>
      <tr>
        <form action="/logout" method="POST">
          <button class="btn btn-outline-light">sortir</button>
         </form>
      </tr>
  </table>
</div>
<div class="blockchain">
   <br>
<h2><center><strong><ins>La teva activitat</ins></strong></center></h2>
<table  align="center">
  <tr align="center">
    <td><h6>
     <strong>Tipus</strong> 
    </h6>
    </td>
    <td><h6><strong>Tasca implicada</strong></h6>
    </td>
    <td>
      <h6><strong>Acceptada</strong> </h6>
    </td>
    <td>
     <h6> <strong>Acabada</strong></h6>
    </td>
  </tr>
  <% if (accions) { %>
            <% accions.forEach(accio => { %> 
  <tr align="center">
    <td>
      <%= accio.tipus%>
    </td>
    <td>
      <%= accio.tasca%>
    </td>
    <td>
      <%=accio.acceptada%>
    </td>
    <td>
      <%=accio.acabada%>
    </td>
  </tr>
              <% }); %>
        <% } %>
</table>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="bootstrap.js" type="text/javascript"></script>
</body>
</html>