

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>inici</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<h5>APLICACIÓ DE LA BLOCKCHAIN A LES CRIPTOMONEDES</h5> Aquest títol, juntament amb la taula de l'esquerra que encara no he creat, m'interessaria bloquejar-lo perquè no es mogués. Es pot fer i com?

	<h4>Benvinguts/des a la meva pàgina web</h4>


<form action="/transaccio" method="POST">
	<button>Acceptar la transferència</button>
</form>



	<h3>actualització</h3>
	<h3>________________________________________________________________________________________________________</h3>

		<p>Si vols continuar intercanviant les tasques de manera segura, descarrega't la última versió:</p>

		<form action="/descarrega" method="POST">
			<button>Descarregar</button> 
		</form>
Aquest botó ha de'estar lligat a The Nodemailer module. S'ha de fer a app.js tot o també aquí s'ha de posar alguna cosa?
















<h4><center>Instruccions per a fer un bon ús de l'aplicació:</center></h4>
	<p>1. Creeu una tasca (pressioneu el títol "Creació de la tasca" a l'esquerra).</p>
	<p>2. Comproveu que teniu la última versió descarregada ("Actualització" a l'esquerra).</p>
	<p>3. Torneu a la pàgina d'inici.</p>
	<p>4. Seleccioneu un usuari per enviar la tasca que han de fer, juntament amb el pagament.</p>
	<p>5. Confieu que facin la tasca.</p>



<form action="/logout" method="POST" >
    <button>Logout</button>
</form>

</body>
</html>