
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<p>Bienvenido!!</p>
<%= console.log('test') %>
<form action="/logout" method="POST" >
    <button>Logout</button>
</form>

<p><%= tasks[0]['Nom'] %></p>
<p><%= tasks[1]['Preu'] %></p>
<p><%= tasks[2]['Temps'] %></p>




</body>
</html>