
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<p>Tasques</p>

<form action="/tasques" method="POST">
   <input type="text" name="Nom" placeholder="Nom de la tasca">
   <input type="text" name="Descripcio" placeholder="descr">
   <input type="text" name="Preu" placeholder="password">
   <input type="text" name="Temps" placeholder="password">
   <button>Submit</button>
</form> 

<% if (tasks.length >1) { %>
<ul>
  <% tasks.forEach(task => { %>
  <li><%= task.tasca %></li>
  <li><%= task.emisor %></li>
  <li><%= task.preu %></li>
  <li><%= task.estat %></li>
  <% }); %>
<ul>
<% } %>





<form action="/home" method="GET" >
    <button>home</button>
</form>

<form action="/logout" method="POST" >
    <button>Logout</button>
</form>



</body>
</html>