 
<!DOCTYPE html>
<html lang="en">        
  <head>

 <meta charset="UTF-8">
  <title>usuari</title>
  <link rel="stylesheet" href="styles.css">
  <link href="bootstrap.css" rel="stylesheet" type="text/css">
</head>
 
<body>

<div  class="title">
    <h5 align="center">APLICACIÓ DE LA BLOCKCHAIN A LES CRIPTOMONEDES</h5>
    <h3 align="center">Andrea Bellmunt Fuentes</h3>
</div>
<div>
  <hr>
  <hr>
  <hr>
  <table class="table" width="100%">
    <tr>
      <td>
        <form action="/inici" method="GET">
          <button>inici</button>
        </form>
      </td>
      <td>
        <p class="text-primary">actualització</p>
      </td>
      <td>
        <p class="text-primary">informació</p>
      </td>
      <td>
        <form action="/usuari" method="GET">
          <button>usuari</button>
        </form>
      </td>
      <td>
        <p class="text-primary">modificació de l'usuari</p>
      </td>
      <td>
        <form action="/tasques" method="GET">
          <button>tasca</button>
        </form>
      </td>
      <td>
        <p class="text-primary">creació de la tasca</p>
      </td>
      <td>
         <p class="text-primary">modificació de la tasca</p>
      </td>
      <td>
        <p class="text-primary">eliminació de la tasca</p>
      </td>
    </tr>
  </table>
</div>

        <h3>modificació de l'usuari</h3>
        <p>____________________________________________________________________________________________________________________________________________</p>
        <form action="/modificarUsuari" method="POST"> 
           <table class="table" width="100%">

               <tr>Introdueix la teva nova informació:</tr>
               <tr>
                   <td>Nom d'usuari:</td>
                   <td>Nom:</td>
                   <td>Cognoms:</td>
                   <td>Correu electrònic:</td>
                   <td></td>
               </tr>
               <tr>
                <td><input type="text" name="username" value="<%= userito.username%>" placeholder="username" disabled=disabled></td>
                   <td><input type="text" name="nomUsuari" value= "<%= userito.nomUsuari%>" placeholder="nom"></td>
                   <td><input type="text" name="cognoms" value="<%= userito.cognoms%>"placeholder="cognoms"></td>
                   <td><input type="text" name="mail" size="50" value="<%= userito.mail%>"placeholder="mail"></td>
                   <td><button type="submit">Canviar</button></td>
               </tr>
           
               
           </table>
    </form>


<form action="/logout" method="POST" >
    <button>Sortir</button>
</form>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="bootstrap.js" type="text/javascript"></script>
</body>
</html>