
<!DOCTYPE html>
<html lang="en">        
  <head>

 <meta charset="UTF-8">
  <title>usuari</title>
  <link rel="stylesheet" href="styles.css">
  <link href="bootstrap.css" rel="stylesheet" type="text/css">
</head>

<body>
<body>
  <div>
<h5>APLICACIÓ DE LA BLOCKCHAIN A LES CRIPTOMONEDES</h5>
</div>
  <div >
<table class="table" width="100%">
<tr>

<td>
<form action="/inici" method="GET">
    <button>inici</button>
</form>
</td>
<td>
<form action="/usuari" method="GET">
    <button>usuari</button>
</form>

</td>
<td>
<form action="/tasques" method="GET">
    <button>Tasques</button>
</form>
</td>
<td>
<form action="/actualitzacio" method="GET">
    <button>actualització</button>
</form>
</td>
</tr>
</table>
</div>
        <h6>modificació de l'usuari</h6>
        <p>____________________________________________________________________________________________________________________________________________</p>
        <form action="/modificarUsuari" method="POST"> 
           <table>

               <tr>Introdueix la teva nova informació:</tr>
               <tr>
                   <td>Nom:</td>
                   <td>Cognoms:</td>
                   <td>Nom d'usuari:</td>
                   <td>Correu electrònic:</td>
               </tr>
               <tr>
                   <td><input type="text" name="nomUsuari" value= "<%= userito.nomUsuari%>" placeholder="nom"></td>
                   <td><input type="text" name="cognoms" value="<%= userito.cognoms%>"placeholder="cognoms"></td>
                   <td><input type="text" name="username" value="<%= userito.username%>" placeholder="username"></td>
                   <td><input type="text" name="mail" value="<%= userito.mail%>"placeholder="mail"></td>
               </tr>
           
               
           </table>



        <button type="submit">Canviar</button>
    </form>


<form action="/logout" method="POST" >
    <button>Sortir</button>
</form>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="bootstrap.js" type="text/javascript"></script>
</body>
</html>